.codemirror{
   
        min-height: 'calc(100vh -20px)';
        font-size: '20px';
        line-height: '1.6';
        padding-top: '20px';
    
}
.homePageWrapper{
        background-image: url("https://c4.wallpaperflare.com/wallpaper/735/578/409/minimalism-airplane-colorful-red-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
.mainWrap {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
    }
    
.asideWrap {
        display: flex;
        background: #1c1e29;
        padding: 10px;
        color: #fff;
        flex-direction: column;
        width: 13%;
}
    
.editorWrap {
        display: grid;
        padding: 10px;
        width: 60%;
        height: 100%;
}
    
.chatWrap {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 100%;
}
    
.asideInner {
        flex: 1;
}
    
.logo {
        border-bottom: 1px solid #424242;
        padding-bottom: 1px;
}
    
.logoImage {
        height: 20rem;
}
    
.homePageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        height: 100vh;
}
    
.formWrapper {
        background-image: url("https://wallpapercave.com/wp/wp5709278.jpg");
        /*background-image: url("ttps://wallpapercave.com/hwp/wp5709278.jpg");*/
        background-size: cover;
        background-repeat: no-repeat;
        /*background: #282a36;*/
        padding: 20px;
        box-shadow: 0 0 5px rgb(133, 255, 255),0 0 8px rgb(133, 255, 255),0 0 15px rgb(133, 255, 255),0 0 25px rgb(133, 255, 255),0 0 60px rgb(133, 255, 255);
    
        border-radius: 10px;
        width: 400px;
        max-width: 90%;
}
    
.formWrapper img{
        padding: 99px 0px;    
        height: 24rem;
        mix-blend-mode:multiply;
        margin-top: -120px;
        
         
}
.col-md-2 img{
    mix-blend-mode: multiply;
    height: 13rem;
   
}
    
footer {
        position: fixed;
        bottom: 0;
    }
    
    footer a {
        color: #4aee88;
    }
    
    .inputGroup {
        display: flex;
        flex-direction: column;
        
    }
    
    .mainLabel {
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
        margin-top: -130px;
    }
    
    .homePageLogo {
        height: 80px;
        margin-bottom: 30px;
    }
    
    .copyBtn {
        background: rgb(78, 215, 78);
        color: white;
    }
    
.btn {
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
}
.inputGroup .joinBtn {
        background-color: #79d3f9;
        box-shadow: 0 0 5px rgb(79, 132, 255), 0 0 25px rgb(83, 108, 253);
        border: none;
        width: 100px;
        margin-left: auto;
}
    
.leaveBtn {
        background: red;
        width: 100%;
        margin-left: auto;
        color: white;
    }
.leaveBtn:hover{
        background: rgb(255, 93, 93);
    }
.inputGroup .joinBtn:hover {
        background: #43a6d1;
        box-shadow: 0 0 5px rgb(79, 223, 255), 0 0 25px rgb(83, 213, 253);
        transition: 1s;
    }
    
.createInfo {
        margin: 0 auto;
        margin-top: 20px;
}
    
    .createNewBtn {
        color: #871aee;
        text-decoration: none;
        border-bottom: 1px solid #cc23f6;
        
        transition: all 0.3s ease-in-out;
    }
    
    .createNewBtn:hover,
    footer a:hover {
        color: #d30d0d;
        border:none;
        transition: 1s;
    }
    
    .clientsList {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .client {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
    }
    
    .userName {
        margin-top: 10px;
    }
    
    .leaveBtn {
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 2px rgb(255, 73, 73), 0 0 15px rgb(255, 125, 125);
        border: none;
    }
    .copyBtn{
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 2px rgb(156, 255, 143), 0 0 15px rgb(152, 255, 143);
        border: none;
    }
    .runBtn{
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 2px rgb(128, 219, 255), 0 0 15px rgb(143, 231, 255);
        border: none;
    }
    .runBtn:hover{
        background: #465eaf;
    }
    
    .CodeMirror {
        font-size: 18px;
        line-height: 1.5;
        min-height: calc(72vh);
        width: 100%;
        background-image: url("https://c0.wallpaperflare.com/preview/581/557/303/background-black-texture-dark-thumbnail.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .IO-container {
        display: flex;
        justify-content: left;
        min-height: calc(3vh);
        width: 100%;
        
    }
    .chatWrap .chatArea{
        background-image: url("https://www.itl.cat/pngfile/big/310-3108113_galaxy-3d-wallpaper-black.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        
    }
    
 .inputArea {
        /*background-image: url("https://c0.wallpaperflare.com/preview/581/557/303/background-black-texture-dark-thumbnail.jpg");
    
        background-size: cover;
        background-repeat: no-repeat;*/
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.6;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.401);
        color: rgb(255, 253, 253);
        font-size: 16px;
        height: calc(15vh);
        width: 100%;
    }
    .asideWrap{
        background-image: url("https://i.pinimg.com/736x/92/33/b3/9233b3a6c7f7ffbab42531e499499514.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .chatArea {
        font-size: 18px;
        line-height: 1.6;
        padding-top: 10px;
        background-color: #1c1e29;
        color: rgb(253, 253, 253);
        font-size: 16px;
        border: 1px solid transparent;
        min-height: calc(85vh);
        height: calc(98vh);
    }
    
    .sendChatWrap {
        display: flex;
        height: calc(5vh);
    }
    
    
    .sendBtn {
        
        width: 20%;
        height: 30px;
        padding: 5px 5px;
        margin-top: -40px;
        margin-bottom: 40px;
        padding-bottom: 4px;
        box-shadow: 0 0 1px rgb(117, 186, 255), 0 0 10px rgb(125, 222, 255);
        border: none;
    }
    .sendBtn:hover{
        background-color: rgb(255, 48, 48);
        box-shadow: 0 0 2px rgb(255, 73, 73), 0 0 15px rgb(255, 125, 125);
        border: none;
        cursor: pointer;
    }
    
 .inputGroup  .inputBox {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-bottom: 14px;
        background: rgb(0,0,0,0.9);
        
        box-shadow: rgba(174, 221, 255, 0.806) 0px 2px 5px, rgba(146, 231, 251, 0.886) 0px 3px 2px;
    
        color: #fff;
    
    
    
    
        font-size: 16px;
        font-weight: bold;
    }
    
    .sendBtn,
    .runBtn {
        color: white;
        background-color: rgb(99, 92, 232);
    }
    
    .clickedLabel {
        background-color: rgb(99, 92, 232);
        border: 1px solid transparent;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        width: 10%;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .notClickedLabel {
        background-color: rgb(189, 187, 225);
        border: 1px solid transparent;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        width: 10%;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .inputField {
        background-color: rgb(255, 255, 255);
        border: 1px solid transparent;
        color: rgb(0, 0, 0);
        padding: 8px 8px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 2px 1px;
        margin-left: 30px;
        margin-right: 13px;
        width: 55%;
        margin-top: -40px;
        margin-bottom: 40px;
    }
    
    .textarea-style::-webkit-scrollbar {
        width: 10px;
    }
    
    .textarea-style::-webkit-scrollbar-track {
        background: #1c1e29;
    }
    
    .textarea-style::-webkit-scrollbar-thumb {
        background: rgb(99, 92, 232);
    }
    
    .textarea-style::-webkit-scrollbar-thumb:hover {
        background: rgb(189, 187, 225);
    }
    
    .whiteboardBtn{
        border: 1px solid #fff;
        background: black;
        border-radius: 4px;
    }
    .whiteboardBtn:hover{
        cursor: pointer;
        background: #070707fe;
        box-shadow: 0 0 2px rgb(170, 168, 168), 0 0 15px rgb(164, 164, 164);
       
    }
    .ham{
        display: block;
        color: #fff;
        margin-right: 20px;
    }
    @media screen and ( max-width: 640px) {
        .ham{
            display: block;
            
    
        }
        .whiteboardBtn{
            font-size: 10px;
            font-weight: 200;
            margin-bottom: 15px;
        }
        .inputField {
            background-color: rgb(255, 255, 255);
            border: 1px solid transparent;
            color: rgb(0, 0, 0);
            padding: 5px 5px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 11px;
            margin: 11px 1px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: -40px;
            margin-bottom: 40px;
            width: 65%;
        }
        .clickedLabel {
            background-color: rgb(99, 92, 232);
            border: 1px solid transparent;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            width: 25%;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .notClickedLabel {
            background-color: rgb(189, 187, 225);
            border: 1px solid transparent;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            width: 25%;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .inputArea {
            
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.6;
            padding-top: 10px;
            background-color: rgba(0, 0, 0, 0.401);
            color: rgb(255, 253, 253);
            font-size: 21px;
            height: calc(15vh);
            width: 100%;
        }
        .asideWrap {
            display: flex;
            background: #1c1e29;
            padding: 8px;
            color: #fff;
            flex-direction: column;
            width: 18%;
        }
        .seLang {
            color: black;
            border: none;
            width: 100%;
            margin-top: 40px;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            text-align-last: center;
            margin-bottom: 15px;
        }
        .leaveBtn {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 145px;
            box-shadow: 0 0 2px rgb(255, 73, 73), 0 0 15px rgb(255, 125, 125);
            border: none;
        }
        .copyBtn{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 15px;
            box-shadow: 0 0 2px rgb(156, 255, 143), 0 0 15px rgb(152, 255, 143);
            border: none;
        }
        .runBtn{
            width: 100%;
            margin-top: 30px;
            margin-bottom: 15px;
            box-shadow: 0 0 2px rgb(128, 219, 255), 0 0 15px rgb(143, 231, 255);
            border: none;
        }
        
        
        
    }
    
    @media screen and ( max-width: 1040px) {
        .whiteboardBtn{
            font-size: 10px;
            font-weight: 200;
            margin-bottom: 15px;
        }
        .inputField {
            background-color: rgb(255, 255, 255);
            border: 1px solid transparent;
            color: rgb(0, 0, 0);
            padding: 5px 5px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 1px 1px;
            margin-left: 5px;
            margin-right: 5px;
            width: 81%;
            margin-top: -153px;
            margin-bottom: 140px;
            border-radius: 4px;
        }
        .clickedLabel {
            background-color: rgb(99, 92, 232);
            border: 1px solid transparent;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            width: 25%;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .notClickedLabel {
            background-color: rgb(189, 187, 225);
            border: 1px solid transparent;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            width: 25%;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .sendChatWrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sendBtn {
        
            width: 80%;
            height: 30px;
            padding: 5px 5px;
            margin-top: -130px;
            margin-bottom: 145px;
            padding-bottom: 4px;
            box-shadow: 0 0 1px rgb(117, 186, 255), 0 0 10px rgb(125, 222, 255);
            border: none;
        }
        .inputArea {
            
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.6;
            padding-top: 10px;
            background-color: rgba(0, 0, 0, 0.401);
            color: rgb(255, 253, 253);
            font-size: 21px;
            height: calc(15vh);
            width: 100%;
        }
        .asideWrap {
            display: flex;
            background: #1c1e29;
            padding: 8px;
            color: #fff;
            flex-direction: column;
            width: 18%;
        }
        .seLang {
            color: black;
            border: none;
            width: 100%;
            margin-top: 40px;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            text-align-last: center;
            margin-bottom: 15px;
        }
        .leaveBtn {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 145px;
            box-shadow: 0 0 2px rgb(255, 73, 73), 0 0 15px rgb(255, 125, 125);
            border: none;
        }
        .copyBtn{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 15px;
            box-shadow: 0 0 2px rgb(156, 255, 143), 0 0 15px rgb(152, 255, 143);
            border: none;
        }
        .runBtn{
            width: 100%;
            margin-top: 30px;
            margin-bottom: 15px;
            box-shadow: 0 0 2px rgb(128, 219, 255), 0 0 15px rgb(143, 231, 255);
            border: none;
        }
        
        
        
    }